<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <smile_debugtoolbar>
            <configuration>
                <enabled>0</enabled>
                <keep_last_execution>5</keep_last_execution>
            </configuration>
        </smile_debugtoolbar>
    </default>
</config>
