name: 'CI'

on:
    pull_request: ~
    push:
        branches:
            - 'master'

jobs:
    tests:
        runs-on: 'ubuntu-latest'

        strategy:
            matrix:
                php-version:
                    - '7.4'

        steps:
            - name: 'Checkout'
              uses: 'actions/checkout@v2'

            - name: 'Install PHP'
              uses: 'shivammathur/setup-php@v2'
              with:
                  php-version: '${{ matrix.php-version }}'
                  coverage: 'none'
                  tools: 'composer:v2'

            - name: 'Get composer cache directory'
              id: 'composercache'
              run: 'echo "::set-output name=dir::$(composer config cache-files-dir)"'

            - name: 'Cache dependencies'
              uses: 'actions/cache@v2'
              with:
                  path: '${{ steps.composercache.outputs.dir }}'
                  key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.json') }}
                  restore-keys: '${{ runner.os }}-composer-'

            - name: 'Prepare credentials'
              env:
                  MAGENTO_USERNAME: '${{ secrets.MAGENTO_USERNAME }}'
                  MAGENTO_PASSWORD: '${{ secrets.MAGENTO_PASSWORD }}'
              run: 'composer config -g http-basic.repo.magento.com "$MAGENTO_USERNAME" "$MAGENTO_PASSWORD"'

            - name: 'Install dependencies'
              run: 'composer install --prefer-dist'

            - name: 'Run PHP CodeSniffer'
              run: 'vendor/bin/phpcs'

            - name: 'Run PHPMD'
              run: 'vendor/bin/phpmd . xml phpmd.xml.dist'
